/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

h2 {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

.form-group input, .form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 4px;
}

.form-group input:focus, .form-group select:focus {
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.25);
}





.alert {
    padding: 10px;
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    border-radius: 4px;
    margin-bottom: 20px;
}

.alert ul {
    margin: 0;
    padding-left: 20px;
}

.alert ul li {
    list-style-type: disc;
}

.alert ul li::marker {
    color: #721c24;
}

/* Estilos para las tarjetas */
.user-card {
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    margin-bottom: 20px;
}

.user-card .card-body {
    padding: 1.25rem;
    text-align: center;
}

.search-container {
    margin-bottom: 20px;
}

.search-container input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
}

.card-grid {
    display: flex;
    flex-wrap: wrap;
}

.card-grid .col-lg-3, .card-grid .col-md-6 {
    display: flex;
    justify-content: center;
}

.pagination-container {
    display: flex;
    justify-content: center; /* Centra el contenedor de paginaci칩n */
    margin-top: 20px;
}

.pagination {
    display: flex;
    justify-content: center; /* Centra los elementos dentro del contenedor de paginaci칩n */
    align-items: center;
}

.step-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; /* Espacio entre botones */
}

.step-links button {
    background-color: #052b2d; /* Color de fondo */
    color: white; /* Color del texto */
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    transition: background-color 0.3s; /* Transici칩n suave para el color de fondo */
    cursor: pointer;
    border-radius: 5px; /* Bordes redondeados */
}

.step-links button:hover {
    background-color: #09595c; /* Color de fondo al pasar el cursor */
}

.current {
    display: flex;
    align-items: center;
    padding: 10px;
}

/* Ajustes para pantallas peque침as */
@media (max-width: 768px) {
    .container-fluid {
        padding: 15px;
    }

    .table-responsive {
        overflow-x: auto;
    }

    .form-control, .form-check-input {
        margin-bottom: 10px;
    }
}
@media (max-width: 576px) {
    .col-lg-4, .col-md-6 {
        flex: 0 0 100%; /* One card per row */
        max-width: 100%;
    }
}

