{% extends "dashboard.html" %}
{% load static %}
{% block content %}
<head>
    <link type='text/css' href= "{% static 'css/style_crud.css' %}" rel='stylesheet'/>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>
<h2>Listar Usuarios</h2>
<div class="container">
<div class="search-container">
    <input type="text" id="search" placeholder="Buscar por nombre, apellido o email..." onkeyup="filterCards()">
</div>

<div class="btn-group mb-3">
    <a href="{% url 'crear_usuario' %}" class="btn btn-success">Crear Usuario</a>
    <a href="{% url 'listar_usuarios_inactivos' %}" class="btn btn-primary">Usuarios Eliminados</a>
</div>

<div id="users-container" class="row card-grid">
    {% include 'Gestion_Usuarios/usuarios_list.html' %}
</div>

<div class="pagination-container">
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <button onclick="location.href='?page=1{% if query %}&q={{ query }}{% endif %}'">&laquo; Primero</button>
                <button onclick="location.href='?page={{ page_obj.previous_page_number }}{% if query %}&q={{ query }}{% endif %}'">Anterior</button>
            {% endif %}

            <span class="current">
                Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <button onclick="location.href='?page={{ page_obj.next_page_number }}{% if query %}&q={{ query }}{% endif %}'">Siguiente</button>
                <button onclick="location.href='?page={{ page_obj.paginator.num_pages }}{% if query %}&q={{ query }}{% endif %}'">Último &raquo;</button>
            {% endif %}
        </span>
    </div>
</div>
</div>

<script src="{% static 'js/search.js' %}"></script>
<script src="{% static 'js/confirmations.js' %}"></script>
{% endblock %}
