{% extends "dashboard.html" %}
{% load static %}
{% block content %}
<head>
    <link type='text/css' href= "{% static "css\style_crud.css" %}" rel='stylesheet'/>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

</head>
<div class="container no-gutters py-5 px-lg-5 px-2">
    <h2>Usuarios Inactivos</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Email</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for usuario in usuarios_inactivos %}
            <tr>
                <td data-label="EMAIL">{{ usuario.email }}</td>
                <td data-label="NOMBRE">{{ usuario.nombre }}</td>
                <td data-label="APELLIDO">{{ usuario.apellido }}</td>
                <td data-label="ACCIONES">
                    <a class="btn btn-success" href="javascript:void(0);" onclick="confirmReactivar('{{ usuario.pk }}')">Reactivar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table><br>
    <a href="{% url 'listar_usuarios' %}" class="btn btn-primary ">Volver a Usuarios Activos</a>
</div><br><br><br>

<script src="{% static 'js/confirmations.js' %}"></script>

{% endblock %}
